.image-1-icon {
  position: absolute;
  top: 9px;
  left: 45px;
  width: 208px;
  height: 94px;
  object-fit: cover;
  display: none;
}
.frame-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #f4f4f4;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.vector-icon,
.vector-icon1,
.vector-icon2,
.vector-icon3,
.vector-icon4 {
  position: absolute;
  height: 1.79%;
  width: 2.23%;
  top: 15.85%;
  right: 4.91%;
  bottom: 82.36%;
  left: 92.86%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.vector-icon1,
.vector-icon2,
.vector-icon3,
.vector-icon4 {
  top: 32.77%;
  bottom: 65.44%;
}
.vector-icon2,
.vector-icon3,
.vector-icon4 {
  top: 72.52%;
  bottom: 25.69%;
  display: none;
}
.vector-icon3,
.vector-icon4 {
  top: 50.04%;
  bottom: 48.16%;
}
.vector-icon4 {
  top: 87.29%;
  bottom: 10.92%;
}
.vector-icon5 {
  top: 64.82%;
  bottom: 33.39%;
  display: none;
}
.vector-icon5,
.vector-icon6,
.vector-icon7,
.vector-icon8,
.vector-icon9 {
  position: absolute;
  height: 1.79%;
  width: 2.23%;
  right: 4.91%;
  left: 92.86%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.vector-icon6 {
  top: 94.09%;
  bottom: 4.12%;
  display: none;
}
.vector-icon7,
.vector-icon8,
.vector-icon9 {
  top: 24.53%;
  bottom: 73.68%;
}
.vector-icon8,
.vector-icon9 {
  top: 40.29%;
  bottom: 57.92%;
  display: none;
}
.vector-icon9 {
  top: 80.21%;
  bottom: 17.99%;
}
.image-213-icon,
.image-217-icon,
.image-222-icon,
.image-223-icon,
.image-224-icon,
.image-227-icon,
.image-287-icon {
  position: absolute;
  height: 2.69%;
  width: 6.7%;
  top: 15.4%;
  right: 86.61%;
  bottom: 81.92%;
  left: 6.7%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image-213-icon,
.image-217-icon,
.image-223-icon,
.image-224-icon,
.image-227-icon,
.image-287-icon {
  top: 24.08%;
  bottom: 73.23%;
}
.image-213-icon,
.image-217-icon,
.image-224-icon,
.image-227-icon,
.image-287-icon {
  top: 32.32%;
  bottom: 65%;
}
.image-217-icon,
.image-224-icon,
.image-227-icon,
.image-287-icon {
  top: 64.37%;
  right: 87.28%;
  bottom: 32.95%;
  left: 6.03%;
  display: none;
}
.image-224-icon,
.image-227-icon,
.image-287-icon {
  top: 39.84%;
  right: 86.61%;
  bottom: 57.48%;
  left: 6.7%;
}
.image-227-icon,
.image-287-icon {
  top: 49.6%;
  right: 87.28%;
  bottom: 47.72%;
  left: 6.03%;
}
.image-227-icon {
  top: 86.84%;
  bottom: 10.47%;
  opacity: 0.7;
}
.products,
.warehouse {
  position: absolute;
  top: 15.67%;
  left: 18.3%;
  line-height: 24px;
}
.products {
  top: 32.59%;
}
.image-212-icon,
.partner {
  position: absolute;
  display: none;
}
.partner {
  top: 72.43%;
  left: 18.08%;
  line-height: 24px;
}
.image-212-icon {
  height: 2.69%;
  width: 6.7%;
  top: 72.16%;
  right: 87.28%;
  bottom: 25.16%;
  left: 6.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.product-warehouse {
  margin: 0;
}
.product-warehouse-mapping-container {
  position: absolute;
  top: 40.2%;
  left: 18.53%;
  line-height: 24px;
  text-align: left;
  display: none;
}
.customers,
.image-211-icon {
  position: absolute;
  display: none;
}
.customers {
  top: 79.86%;
  left: 18.3%;
  line-height: 28px;
  text-align: left;
}
.image-211-icon {
  height: 2.69%;
  width: 6.7%;
  top: 79.77%;
  right: 86.61%;
  bottom: 17.55%;
  left: 6.7%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.category,
.partner-product-mapping {
  position: absolute;
  top: 24.35%;
  left: 18.08%;
  line-height: 24px;
}
.partner-product-mapping {
  top: 49.87%;
  left: 18.3%;
  display: none;
}
.image-228-icon,
.vector-icon10 {
  position: absolute;
  height: 1.79%;
  width: 2.23%;
  top: 57.3%;
  right: 4.91%;
  bottom: 40.91%;
  left: 92.86%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  display: none;
}
.image-228-icon {
  height: 2.69%;
  width: 6.7%;
  top: 56.85%;
  right: 87.28%;
  bottom: 40.47%;
  left: 6.03%;
  object-fit: cover;
}
.commission-on-products,
.push-notification {
  position: absolute;
  top: 57.12%;
  left: 18.75%;
  line-height: 24px;
  display: none;
}
.push-notification {
  top: 87.11%;
  left: 18.53%;
  color: var(--color-brown-200);
}
.coordinator-rm {
  top: 64.64%;
  left: 18.3%;
  line-height: 24px;
}
.coordinator-rm,
.image-216-icon,
.role-access {
  position: absolute;
  display: none;
}
.role-access {
  top: 93.91%;
  left: 17.41%;
  line-height: 24px;
  color: var(--color-brown-200);
}
.image-216-icon {
  height: 2.69%;
  width: 6.7%;
  top: 93.64%;
  right: 86.61%;
  bottom: 3.67%;
  left: 6.7%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.frame-item {
  position: absolute;
  height: 5.28%;
  width: 97.99%;
  top: 14.23%;
  right: 1.12%;
  bottom: 80.48%;
  left: 0.89%;
  background-color: #fff8b7;
  mix-blend-mode: multiply;
}
.rectangle-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 448px;
  height: 1117px;
  text-align: center;
}
.macbook-pro-16-12-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #662571;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
  width: 1728px;
  height: 118px;
}
.group-icon {
  position: absolute;
  height: 100%;
  width: 81.76%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 18.24%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group,
.group-icon1 {
  position: absolute;
  left: 0;
}
.group-icon1 {
  height: 97.39%;
  width: 15.14%;
  top: 1.3%;
  right: 84.86%;
  bottom: 1.3%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
}
.frame,
.frame-wrapper,
.vector-icon11 {
  position: absolute;
  width: 296px;
  height: 46px;
}
.frame {
  top: 0;
  left: 0;
  overflow: hidden;
}
.frame-wrapper,
.vector-icon11 {
  top: 36px;
  left: 30px;
}
.vector-icon11 {
  height: 4.48%;
  width: 2.89%;
  top: 2.78%;
  right: 3.3%;
  bottom: 92.75%;
  left: 93.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.coamana-input-fielddefault2 {
  position: absolute;
  height: 23.1%;
  width: 31.54%;
  top: 0;
  right: 34.27%;
  bottom: 76.9%;
  left: 34.19%;
}
.label2 {
  position: absolute;
  top: 0;
  left: 12px;
  background-color: var(--color-white);
  width: 126px;
  height: 16px;
}
.coamana-input-fielddefault3,
.coamana-input-fielddefault4 {
  position: absolute;
  height: 23.1%;
  width: 31.54%;
  top: 76.9%;
  right: 68.46%;
  bottom: 0;
  left: 0;
}
.coamana-input-fielddefault4 {
  right: 34.27%;
  left: 34.19%;
}
.label3 {
  position: absolute;
  top: 0;
  left: 12px;
  background-color: var(--color-white);
  width: 86px;
  height: 16px;
}
.coamana-input-fielddefault5 {
  position: absolute;
  height: 23.1%;
  width: 31.54%;
  top: 0;
  right: 0;
  bottom: 76.9%;
  left: 68.46%;
}
.label4 {
  position: absolute;
  top: 0;
  left: 12px;
  background-color: var(--color-white);
  width: 44px;
  height: 16px;
}
.coamana-input-fielddefault6 {
  position: absolute;
  height: 23.1%;
  width: 31.54%;
  top: 36.1%;
  right: 68.46%;
  bottom: 40.79%;
  left: 0;
}
.label5 {
  position: absolute;
  top: 0;
  left: 12px;
  background-color: var(--color-white);
  width: 31px;
  height: 16px;
}
.coamana-input-fielddefault-wrapper,
.coamana-input-fielddefault7 {
  position: absolute;
  height: 23.1%;
  width: 31.54%;
  top: 36.1%;
  right: 34.27%;
  bottom: 40.79%;
  left: 34.19%;
}
.coamana-input-fielddefault-wrapper {
  right: 0;
  left: 68.46%;
}
.coamana-input-fielddefault-parent {
  position: absolute;
  height: 24.8%;
  width: 69.73%;
  top: 21.58%;
  right: 2.08%;
  bottom: 53.63%;
  left: 28.18%;
}
.image-289-icon1 {
  position: absolute;
  top: 361px;
  left: 875px;
  width: 341px;
  height: 179px;
  object-fit: cover;
}
.welcome-to-digitalflake1 {
  position: absolute;
  top: 549px;
  left: 811px;
  font-size: var(--font-size-13xl);
  color: #040404;
  display: inline-block;
  width: 468px;
  height: 41px;
}
.macbook-pro-16-12-item {
  position: absolute;
  top: 134px;
  left: 1526px;
  border-radius: 7.08px;
  background-color: var(--color-white);
  box-shadow: 0 2.8px 7.08px rgba(0, 0, 0, 0.25);
  border: 0.7px solid var(--color-brown-100);
  box-sizing: border-box;
  width: 186px;
  height: 54px;
}
.log-out {
  position: absolute;
  top: 146px;
  left: 1575px;
  font-size: 22.7px;
  font-weight: 500;
  color: var(--color-brown-100);
  display: inline-block;
  width: 87.1px;
  height: 29px;
}
.macbook-pro-16-12 {
  background-color: var(--color-white);
  overflow: hidden;
}
.macbook-pro-16-12,
.macbook-pro-16-12-wrapper {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% - 864px);
  width: 1728px;
}
.group-parent {
  width: 100%;
  position: relative;
  height: 1117px;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
